.dashboard {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}
.left {
  flex: 1;
}
.right {
  flex: 1;
}
.right-top,
.left-top {
  display: flex;
  justify-content: space-between;
  margin: 1.2rem;
}
.task {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tasktop {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.task {
  padding: 5px;
  color: rgb(34, 30, 30);
}
.pending {
  padding: 5px;
  color: grey;
}
